
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li {
    list-style: none;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size: 2rem;
    font-family: "Whitney Light";
  }
  
  a {
    text-decoration: none;
    display: inline-block;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  .btn {
    font-family: "Whitney Medium";
  }
  
  .html {
    font-size: 80%;
  }
  /* --------------HERO-SECTION---------------- */
  
  .hero {
    background-color: #1d2020;
    background-size: cover;
    background-position: center;
    height: 115vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: visible;
    z-index: 0;
    
  }

  
  
  
  .main-header {
    height: 8rem;
  }
  
  .container {
    max-width: 126rem;
    margin: 0 auto;
    padding: 0 3.4rem;
  }
  
  .name {
    margin-right: 65rem;
    color: #fff;
    -webkit-text-stroke: 0.2px black;
    -webkit-text-fill-color: white;
    margin-top: -2%;
  
  }

  .name h1{
      font-weight: 900;
      position: absolute;
       transform: translate(-50%, -50%);
       margin-left: 3rem;
    color: white;
    align-self: left; 
    font-size: 22px;
  }

  .name p{
      position: absolute;
       transform: translate(-50%, -50%);
       margin-left: 2rem;
    color: white;
    align-self: left; 
    margin-top: 2%;
    font-size: 15px;
  }

  .main-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-list {
    display: none;
  }
  
  
  .nav-list {
    display: flex;
    margin-left: 20rem;
    float: right;
  }
  
  
  
  .nav-list a {
    margin-top: 4rem;
  transform: translate(-50%, -50%);
  margin-left: 0.2rem;
color: white;
align-self: left; 
font-size: 22px;
  }
  
  .nav-list a:first-child{
    color: #fff;
  }
  

  nav a:before{
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 0;
    height: 2px;
    border-bottom: 2px solid #fff;
    transition: all 0.4s linear;
  }
  
  nav a:hover:before{
    width: 100%;
  
  }

  .venues{
      margin-top: -40%;
      height: 100vh;
      background-color: #1d2020;
  }
  .card{
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

width: 300px;
  cursor: pointer;
  margin-top: 5rem;
  position: relative;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgb(255, 255, 255), 0 4px 8px rgb(255, 255, 255);
}


.name1{
  color: white;
  margin-top: 2rem;

}

.location{
  color: #6c757d;
  font-size: 1.3rem;
  font-weight: 300;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* -----------------footer------------------- */


.footer {
    background-color: #1d2020;
    padding: 8rem 0 6.4rem 0;
   padding-top: 30rem;
}

.main-footer {
  padding: 0 2.4rem;
}

.section-1 h1 {
    font-weight: 900;
    position: absolute;
     transform: translate(-50%, -50%);
     margin-left: 7rem;
  color: white;
  align-self: left; 
  font-size: 22px;
  margin-top: -2%;
  }
  
  .section-1 p{
    position: absolute;
    transform: translate(-50%, -50%);
    margin-left: 5.5rem;
 color: white;
 align-self: left;
 font-size: 15px
  }


.rikasa {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 2.3rem;
}

.rg-logo{
  width: 3.2rem;
    height: 3rem;
    margin-right: 0.8rem;
    box-shadow: 0 0 4px white;
    
  
}



.nav-list {
    display: none;
  }
  
  .nav-items-right {
    display: inline-block;
    align-items: right;
  }
  
  
  .nav-list {
    display: flex;
    margin-left: 20rem;
    float: right;
    margin-top:-1rem;
  }
  
  
  
  .nav-list a {
     transform: translate(-50%, -50%);
     margin-left: 0.2rem;
  color: white;
  align-self: left; 
  font-size: 22px;
  
    
  }
  
  .nav-list a:first-child{
    color: #fff;
  }
  

  nav a:before{
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 0;
    height: 2px;
    border-bottom: 2px solid #fff;
  }
  


  
  /* -------------footer-section-2----------- */
  
  .footer-list {
    font-size: 1.6rem;
    text-decoration: none;
    margin-left: 15%;
    
  }
  
  
.list-b ul a ,  .list-a ul a {
    color: #fff;
    margin-top: 0.8rem;
    height: 2.4rem;
    
  
  }
  
  .list-b{
      margin-left: 30%;
      
  }


  .list-a{
      margin-right: 30%;
  }

  .list-a ul a:hover,
 .list-b ul a:hover
{
    text-decoration: underline;
  }
  
  .list-1
 {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
  }
